body,
html {
  height: 100%;
}
body {
  background-color: dodgerblue;
  background: cover no-repeat;
}
.content {
  margin-left: 2em;
  margin-right: 2em;
  color: mediumspringgreen;
}
.col-12,
.col-6,
.col-3,
.col-2 {
  background-color: midnightblue;
  color: white;
  border-radius: 1em;
}
.background {
  background-color: dodgerblue;
}
.form {
  background-color: rgb(38, 56, 3);
}
.black {
  background-color: white;
  color: black;
  border-radius: 0;
}
.white {
  background-color: Black;
  color: white;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.btn-primary {
  font-size: 30;
}
